<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBB - Comprar e vender - Cadastro de {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <head>
        <title> Menu</title>
        <link rel="stylesheet" href="../static/css/style.css" content="width-device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <head>

            <input type="checkbox" id="check">
                <label for="check">
                    <i class="fas fa-bars" id="btn"></i>
                    <i class="fa fa-times" id="cancel"></i>
                </label>
    
                <div class="sidebar">
                    <header>Menu</header>
                    <a href={{ url_for("cadusuario") }} class="active">
                        <i class="fas fa-qrcode"></i>
                        <span>Cadastro Usuario</span>
                    </a>
                    <a href={{ url_for("anuncio") }}>
                        <i class="fa fa-bullhorn"></i>
                        <span class="span-menu">Cad Anuncio</span>
                    </a>
                    <a href={{ url_for("categoria") }}> 
                        <i class="fa fa-gear"></i>
                        <span class="span-menu">Conf categoria</span>
                    </a>
                    <a href={{ url_for("relCompras") }}> 
                        <i class="fa fa-industry"></i>
                        <span class="span-menu">RelCompra</span>
                    </a>
                    <a href={{ url_for("relVendas") }}> 
                        <i class="fa fa-bar-chart"></i>
                        <span class="span-menu">Rel Vendas</span>
                    </a>
    
                    <a href={{ url_for("compra") }}> 
                        <i class="fa-solid fa-cart-shopping"></i>
                        <span class="span-menu">Compras</span>
                    </a>
    
                    <a href={{ url_for("logout") }}> 
                        <i class="fa fa-mail-forward"></i>
                        <span class="span-menu">Logout</span>
                    </a>
                </div>
        
        </head>
    </head>
<main>
    <div class="container">
        <div class="page-header">
            <h1>Cadastro de {{titulo}}</h1>
        </div>

        <form action="/anuncio/criar " method="post">
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-group" id="nome" name="nome">
            </div>

            <div class="form-group">
                <label for="desc">Descrição:</label>
                <textarea rows="4" cols="50" id="desc" name="desc"></textarea>       
            </div>

            <div class="form-group">
                <label for="qtd">Quantidade:</label>
                <input type="text" class="form-group" id="qtd" name="qtd">
            </div>

            <div class="form-group">
                <label for="preco">Preco:</label>
                <input type="text" class="form-group" id="preco" name="preco">
            </div>
            <div class="form-group">
                <label for="cat">Categoria:</label>
                <select id="cat" name="cat">
                    {% for categoria in categorias %} 
                        <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="usu">Usuario:</label>
                <input type="text"  class="form-group" id="uso" name="uso">
            </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
                <input class="btn btn-primary" class="form-control" type="reset" value="Reset">
            </div>
        </form>
</div>

    <div class="container">
        <div class="page-header">
            <h1>Lista de {{titulo}}</h1>
        </div>

        <table class="table table-striped table-responsive table-bordered">
            <thead class="thread-default">
                <tr>
                    <th>Nome</th>
                    <th>Desc</th>
                    <th>Qtd</th>
                    <th>Preco</th>
                    <th>Categoria</th>
                </tr>
            </thead>
            <tbody>
                {% for anuncio in anuncios %}
                    <tr>
                        <td>{{ anuncio.nome }}</td>
                        <td>{{ anuncio.desc }}</td>
                        <td>{{ anuncio.qtd }}</td>
                        <td>{{ anuncio.preco }}</td>
                        <td>{{ anuncio.cat_id }}</td>
                       
                        <td><a href={{ url_for("editaranuncio",id=anuncio.id) }}>Editar?</a></td>
                        <td><a href={{ url_for("deletaranuncio",id=anuncio.id) }}>Deletar?</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>

</html>