<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBB</title>
</head>
<body>
    <h1>Bem vindo ao Útil, Bonito e Barato</h1>
    <div class="menu">
    <p><a href={{url_for("cadusuario")}}> Cadastro usuario</a></p>
    <p><a href={{url_for("login")}}> Sign in</a></p>
    <p><a href={{url_for("cadanuncio")}}> Cadastro Anuncio</a></p>
    <p><a href={{url_for("compra")}}> Compra anúncios</a></p>
    <p><a href={{url_for("pergunta")}}> Suas mensagens</a></p>
    <p><a href={{url_for("favoritos")}}> Favoritos</a></p>
    <p><a href={{url_for("novacategoria")}}> Categorias</a></p>
    <p><a href={{url_for("relVendas")}}> Relatório de vendas</a></p>
    <p><a href={{url_for("relCompras")}}> Relatório de compras</a></p>
    </div>
</body>
</html>