<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBB</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/style.css">
   
</head>

<body>
    <head>
        <title> Menu</title>
        <link rel="stylesheet" href="../static/css/style.css" content="width-device-width,initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <head>
            <input type="checkbox" id="check">
            <label for="check">
                <i class="fas fa-bars" id="btn"></i>
                <i class="fa fa-times" id="cancel"></i>
            </label>
            <div class="sidebar">
                <header>Menu</header>
                <a href={{ url_for("cadusuario") }} class="active">
                    <i class="fas fa-qrcode"></i>
                    <span>Cadastro Usuario</span>
                </a>
                <a href={{ url_for("anuncio") }}>
                    <i class="fa fa-bullhorn"></i>
                    <span class="span-menu">Cad Anuncio</span>
                </a>
                <a href={{ url_for("categoria") }}> 
                    <i class="fa fa-gear"></i>
                    <span class="span-menu">Conf categoria</span>
                </a>
                <a href={{ url_for("relCompras") }}> 
                    <i class="fa fa-industry"></i>
                    <span class="span-menu">RelCompra</span>
                </a>
                <a href={{ url_for("relVendas") }}> 
                    <i class="fa fa-bar-chart"></i>
                    <span class="span-menu">Rel Vendas</span>
                </a>
                <a href={{ url_for("logout") }}> 
                    <i class="fa fa-mail-forward"></i>
                    <span class="span-menu">Logout</span>
                </a>
            </div>
        
        </head>
    </head>

<main>
    
    <h1>Bem vindo ao Útil, Bonito e Barato</h1>

    <div class="img-container">
        <img src="../static/img/carrinho.jfif" alt="logo imagem de compras, representnado ecommerce" class="img-thumbnail">
    </div>
    
 
</main>
</body>

</html>