<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBB- Comprar e Vender - {{titulo}}</title>
</head>
<body>
    <h1>{{titulo}}</h1>
    <form action="caduser" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="password">Password</label></p>
        <p><input type="text" id="password" name="password"></p>

        <p><input type="submit" value="Cadastrar"></p>


    </form>
  
</body>
</html>