<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UBB- Comprar e Vender - Cadastro de {{titulo}}</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body>
    <h1> Cadastro de {{titulo}}</h1>
    <form action="/usuario/criar" method="post">
        <p><label for="user">Username</label></p>
        <p><input type="text" id="user" name="user"></p>

        <p><label for="email">E-mail</label></p>
        <p><input type="text" id="email" name="email"></p>

        <p><label for="password">Password</label></p>
        <p><input type="text" id="password" name="password"></p>

        <p><label for="end">Endereco</label></p>
        <p><input type="text" id="end" name="end"></p>

    
        <p><input type="submit" value="Cadastrar"></p>


    </form>
  

    <h1> Lista de {{titulo}}</h1>
    <table class="table table-striped table-responsive table-bordered">
        <thead class="thread-default">
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Senha</th>
                <th>Endereço</th>
                <th>Editar</th>
                <th>Deletar</th>
    
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.senha}}</td>
                    <td>{{usuario.end}}</td>
                    <td><a href={{ url_for("editarusuario",id=usuario.id) }}>Editar?</a></td>
                    <td><a href={{ url_for("deletarusuario",id=usuario.id) }}>Deletar?</a></td>
                </tr>    
                {%endfor%} 
        </tbody>
    </table>
</body>
</html>